*{
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body{
    margin: 0;
    padding: 0;
}

.un{
    display: flex;
    justify-content: flex-start;
}

.un header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    border-bottom: dotted black 1px;
    flex-direction: column;
}

.un header h1{
  text-decoration: underline;
}

.un main{
    height: 80vh;
}

.title-un{
  text-align: center;
  position: relative;
}

  .items {
   /* position: absolute;
    bottom: 0;*/
    user-select: none;
    height: 80vh;
    width: 100%;
  }

  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }

  .items a{
    color: black;
  }
  
  .item h2 {
    width: 100%;
    height: 100%;
   text-align: center;
   text-decoration: underline;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    height: 450px;
    position: relative;
  }

  .item.active ul{
    position: absolute;
    bottom: -38.5%;
    left: 60%;
    transform: translate(-60%,-35%);
    width: 100%;
    height: 100%;
  }
  .item.active li{
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    top: 20%;
    right: 10%;
    
    
  }
  .item.active p{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 1% auto;
    font-weight: 700; 
    text-decoration: underline;
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

@media screen and (max-height : 563px) {

 .un main{
  height: 90vh;
 }

 .un .items{
  height: 90vh;
 }
  
}


@media screen and (max-height : 500px) {
  .un header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width:100%;
     height: 100vh;
     flex-direction: row;

  }

  .title-un{
    height: 100vh;
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    



  }

  .title-un h1{
    word-wrap: break-word;
  
  }

  .title-deux{
    height: 100vh;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-deux h2{
    word-wrap: break-word;
    
  }
 
  .un main{
   height: 100vh;
  }
 
  .un .items{
   height: 100%;
   position: absolute;
   bottom: 0;
  }

   
 }


 /* option 1*/

 .container-section-two{
  width: 100%;
  display: flex;


 }

 .left-block{
  width: 40%;
 }
 

 .right-block{
  width: 60%;
  display: flex;
 }

 .inverted-radius{
  width: 10%;
  
  height: 100%;
  border-radius: 0 0 100% 0;
  border-right: double grey 4px;
 }

 .deux h2{
  text-align: center;
  width: 100%;
  text-decoration: underline;


 }

 .container-section-two li{
  list-style-type: none;
 }

 .container-section-two ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100%;
 }

 .container-section-two h3{
  list-style-type: none;
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;

 }

 .container-section-two p{
  font-weight: 600;
  border-bottom: double grey 3px; 
 }

.container-section-two span{
  text-decoration: underline grey 2px;
  text-transform: uppercase;
 }


.img-container{
  height: 25%;
  width: 80%;
  display: flex;
  justify-content: center;
}

#img-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.img-container img{
  border: double black 3px;
  object-fit: contain;
  max-height: 100%;
  width: 50%;
}

@media screen and (max-width : 991px){
  .container-section-two p{
    font-weight: 600; 
    height: auto;
   }
}


                                    /*trois*/

 .trois h2{
  text-align: center;
  text-decoration: underline;
 }                                   

.trois-container{
  display: flex;
  min-height: 100vh;
}

.trois-left-block{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.trois-left-block-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 2%;
  text-align: center;
}

.trois-left-block-content p{
  text-align: center;
  font-weight: 500;
}

.trois-left-block h3{
  text-align: center;
  text-decoration: underline;
  margin: 2%;
}

.trois-inverted-radius{
 
  width: 20%;
  border-radius: 0 100% 0 100%  ;
  border-left: double grey 4px;
}

.trois-right-block{
 width: 50%;
}

.satisfied-client{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.satisfied-client h4{
  font-weight: 500;
}

.client{
  text-decoration: underline;
  font-style: italic;
  font-weight: 600;
}

.guy_writting{
  display: flex;
  justify-content: center;
}

.guy_writting img{
  width: 90%;
}